*, *::after, *::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: linear-gradient(to right, rgb(166, 104, 104), rgb(235, 229, 229));
}

.calculator-grid{
  display: grid;
  margin-top: 4em;
  justify-content: center;
  grid-template-columns: repeat(4, 10em);
  grid-template-rows: minmax(6rem, auto) repeat(6, 6em);
}

.calculator-grid > button {
  cursor: pointer;
  font-size: 2rem;
  border: 1px solid rgb(166, 104, 104);
  background-color: rgba(235, 229, 229, 0.7);
  outline: none;
  
}

.calculator-grid > button:hover,
.calculator-grid > button:focus{
  background-color: white;
  transition-duration: 0.4s ease-in-out;
}

.span-two {
  grid-column: span 2 ;
}

.output {
  background:linear-gradient(to right, rgb(7, 65, 38), rgb(115, 16, 95)); ;
  grid-column: 1 / -1 ;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  padding: 0.5rem;
  word-wrap: break-word;
  word-break: break-all;
}

.output .previous{
  color: rgba(235, 229, 229, 0.7);
  font-size: 1.25em;
}

.output .current-typing {
  color: white;
  font-size: 2rem;
}